#pTabla{
	margin: 15px;
	margin-right: auto;
	margin-left: auto;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
	background-color: rgba(255,255,255,0.95);
}

tbody tr:hover{
	background-color:inherit;
}

input[type="text"]{
	color: #555555;
	font-weight: bold;
}

input[type="text"]:hover{
	color: #333333;
}

input[type="text"]:focus{
	color: #000000;
}

#pGana{
	font-weight: bold;
	text-align: center;
	color: #084C82;
	font-size: 120%;
}

th, td{
	text-align: center;
	font-weight: bold;
}

#nota{
	font-size: 80%;
}

body{
	background-color: #FFF;
}